{% extends 'base.html' %}
{% load static %}

{% block title %}Управление устройствами{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Управление устройствами</h3>
                </div>
                <div class="card-body">
                    <p>Здесь будет управление устройствами пользователей</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
